:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 1vw; 
}
*/

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20vw; /* was 400px */
}

#gameCanvas {
  border: 0.vw solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

#recipeScroll {
  position: relative;
  left: 40.5vw; /* was 800px */
  top: 15%;
  width: 10vw; /* was 300px */
  z-index: 10;

  display: none;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
}

#scrollImage {
  width: 22vw; /* was 140% of container */
  height: auto;
  display: block;
}

#recipeText {
  width: 130%;
  margin-top: -21.5vw; /* was -420px */
  color: #4b2d0f;
  font-family: 'IM Fell English SC', 'Papyrus', fantasy;
  font-size: 0.95vw; /* was 20px */
  line-height: 1.2vw; /* was 25px */
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.01vw; /* was 12px */
}

